
/* Core page styles */

#core_title {
  text-align: center;
}
#core_title h1 {
  font-size: 2.5vw;
  color: rgb(137, 137, 255);
}

.main_frame {
  margin: auto;
  margin-bottom: 21vh;
  width: 70vw;
  min-height: 53vh;
  max-height: 80vh;
  color: #222A35;
  background-color: #d9d9d9;
  display: flex;
  border-radius: 3px;
  font-size: 1.7vh;
}
  
.intro_box {
  text-align: left;
  margin: auto;
  margin-top: 0vh;
  width: 65vw;
  height: 5vh;
  color: #222A35;
  background-color: #d9d9d9;
  font-size: 1.7vh;
}
  