/* .App {
  text-align: center;
  background-color: #282c34;
} */

/* Setting primary color */
body {
  background-color: #282c34;
}


.about_frame {

  margin: auto;
  margin-top: 0vh;
  width: 50vw;
  color: aliceblue;
  background-color: #161616;
  display: flex;
  border-radius: 0.2vw;;
  font-size: 1.75vh;

}

.about_text {

  text-align: left;
  margin: auto;
  margin-top: 0vh;
  margin-bottom: 2vh;
  width: 45vw;
  color: rgb(214, 218, 215);
  background-color: #161616;

}
.about_text a {

  font-size: 0.85vw;
  color: rgb(137, 137, 255);

}

.member {

  margin-bottom: 3vh;

}

.member h2 {

  margin-bottom: -1.2vh;

}
