
/* Homepage styles */

.home_frame {

    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: auto;
    width: 30vw;
    height: 20vh;
    color: aliceblue;
    background-color: #161616;
    display: flex;
    border-radius: 3px;
    display: flex;

}

.home_text {

    text-align: center;
    margin: auto;
    margin-top: 0vh;
    width: 30vw;
    height: 37vh;
    color: rgb(214, 218, 215);
    background-color: #161616;
    font-size: 1.70vh;

}
.home_text h4 {

    margin-bottom: -1vh;
}


.ver {

    font-size: 1.70vh;

}

.home_links {

    height: 40vh;
    align-items: center;

}
.home_links button {

    margin-top: 2vh;
    width: 6vw;
    height: 4vh;
    background-color: rgb(137, 137, 255);
    border: none;
    border-radius: 0.5vh;
    font-weight: bold;
    font-size: 1.5vh;

}
.login_link {

    margin-right: 2vw;

}
.team_link {

    margin-right: 2vw;

}
