
/* Homepage styles */



.sect_split {
    font-size: 8vh !important;
}


.home_frame {

    margin-top: 0vh;
    margin: auto;
    width: 100vw;
    overflow-y: scroll;
    height: 92vh;
    /* padding: 0vw 5vw 0vw 5vw; */

}
.biggest_txt {
    font-size: 5vh;
    padding: 0vw 5vw 0vw 5vw;
}
.mission_sect {
    padding: 1vw 5vw 0.5vw 5vw;
    margin-bottom: 0vh;
    background-color: rgb(37, 37, 37);
}
.mission_txt {
    color: rgb(137, 137, 255);
    margin-bottom: 30vh;
}
.mission_txt h3 {
    font-size: 5vh;
}
.mission_txt h4 {
    font-size: 2.7vh;
}
.mission_link h3 {
    color: rgb(137, 137, 255);
    font-size: 2.7vh;
    margin-bottom: 2vh;
}
.mission_link button {
    width: 9vw;
    height: 3.5vh;
    background-color: rgb(137, 137, 255);
    box-shadow: none !important;
    border: none;
    border-radius: 0.5vh;
}

.inquire_sect {
    padding: 1vw 5vw 0.5vw 5vw;
    background-color: rgb(37, 37, 37);
    color: rgb(137, 137, 255);
}
.inquire_sect h1 {
    font-size: 5vh;
    margin-bottom: 0vh;
}
.inquire_sect h3 {
    font-size: 2.7vh;
    margin-bottom: 2vh;
}
.inquire_txt {
    font-size: 3vh;
    margin-bottom: 30vh;
}
.inquire_link button {
    width: 9vw;
    height: 3.5vh;
    background-color: rgb(137, 137, 255);
    box-shadow: none !important;
    border: none;
    border-radius: 0.5vh;
}

.login_sect {
    padding: 1vw 5vw 0.5vw 5vw;
    background-color: rgb(37, 37, 37);
    color: rgb(137, 137, 255);
}
.login_txt {
    margin-bottom: 10vh;
}
.login_txt h1 {
    font-size: 5vh;
}
.login_link h3 {
    font-size: 2.7vh;
    margin-bottom: 2vh;
}
.login_link button {
    width: 9vw;
    height: 3.5vh;
    background-color: rgb(137, 137, 255);
    box-shadow: none !important;
    border: none;
    border-radius: 0.5vh;
    margin-bottom: 5vh;
}


/* TRYING TO MAKE A Dynamic/Modern BACKGROUND */

/* Circle object container */
.glowing {
    z-index: -1;
    position: absolute;
    min-width: 100vw;
    height: 100vh;
    margin: 5vw;
    transform-origin: right;
    animation: colorChange 3s linear infinite;
}

/* Sets color change for circle objects */
@keyframes colorChange {
    0% {
        color: blue;
        /* transform: rotate(0deg); */
    }
    50% {
        color: pink;
    }
    100% {
        color:rgb(137, 137, 255);
    };
      /* transform: rotate(360deg); */
}
  
.glowing span {
    position: absolute;
    top: 10vh;
    left: 10vw;
    bottom: 30vh;
    right: 30vw;
}
.glowing span::before {
        content: "";
        position: absolute;
        top: 70vh;
        left: 100px;
        width: .75vw;
        height: 1.5vh;
        /* background: #f00; */
        border-radius: 50%;
}

/* Creating circle objects that trajeverse UI */
.glowing span:nth-child(3n + 1)::before {
    position: absolute;
    top: 30vh;
    left: 60vw;
    width: .75vw;
    height: 1.5vh;
    /* background: #f00; */
    border-radius: 100%;

    background: rgb(137, 137, 255);
    box-shadow: 0 0 0.05vw rgb(137, 137, 255),
      0 0 0.3vw rgb(137, 137, 255),
      0 0 0.6vw rgb(137, 137, 255),
      0 0 0.9vw rgb(137, 137, 255),
      0 0 0 0.25vw rgba(134,255,0,.1);
}
.glowing span:nth-child(3n + 2)::before {
    position: absolute;
    top: 43.5vh;
    left: 52vw;
    width: .75vw;
    height: 1.5vh;
    /* background: #f00; */
    border-radius: 50%;

    background: rgb(137, 137, 255);
    box-shadow: 0 0 0.05vw rgb(137, 137, 255),
      0 0 0.3vw rgb(137, 137, 255),
      0 0 0.6vw rgb(137, 137, 255),
      0 0 0.9vw rgb(137, 137, 255),
      0 0 0 0.25vw rgba(134,255,0,.1);
}
.glowing span:nth-child(3n + 3)::before {
    position: absolute;
    top: 36.5vh;
    left: 56vw;
    width: .75vw;
    height: 1.5vh;
    /* background: #f00; */
    border-radius: 50%;

    background: rgb(137, 137, 255);
    box-shadow: 0 0 0.05vw rgb(137, 137, 255),
      0 0 0.3vw rgb(137, 137, 255),
      0 0 0.6vw rgb(137, 137, 255),
      0 0 0.9vw rgb(137, 137, 255),
      0 0 0 0.25vw rgba(134,255,0,.1);
}

/* Setting animations */
.glowing span:nth-child(3n + 1) {
animation: our-lin-1 2.6s infinite;
}
.glowing span:nth-child(3n + 2) {
animation: our-lin-2 2.6s infinite;
}
.glowing span:nth-child(3n + 3) {
animation: our-lin-3 2.6s infinite; 
}


/* Trajectory of linear path */
@keyframes our-lin-1 {
    0% {
        top: 0vh;
        left: -100vw;
    }
    
    50% {
        top: 0vh;
        left: -49vw;
    }
    
    100% {
        top: 0vh;
        left: 200vw;
    }
}


  /* Trajectory of standard circular papth */
  @keyframes our-lin-2 {
    0% {
        top: 0vh;
        left: -100vw;
    }
    
    50% {
        top: 0vh;
        left: -49vw;
    }
    
    100% {
        top: 0vh;
        left: 200vw;
    }
}
  
/* Trajectory of reverse circular path */
@keyframes our-lin-3 {
    0% {
        top: 0vh;
        left: -100vw;
    }
    
    50% {
        top: 0vh;
        left: -49vw;
    }
    
    100% {
        top: 0vh;
        left: 200vw;
    }
}
