
/* Homepage styles */

.home_frame {

    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: auto;
    width: 25vw;
    color: aliceblue;
    background-color: #161616;
    display: flex;
    border-radius: 1vh;
    display: flex;

}

.home_text {

    text-align: center;
    margin: auto;
    margin-top: 0vh;
    color: rgb(214, 218, 215);
    background-color: #161616;
    font-size: 1.70vh;

}
.home_text h4 {

    margin-bottom: -1vh;
}
.home_text p {

    margin-top: -1.5vh;
    height: 3.5vh;
}


.ver {

    font-size: 1.70vh;

}

.home_links {

    height: 9vh;
    align-items: center;

}
.home_links button {

    margin-top: 2vh;
    width: 5.5vw;
    height: 3.5vh;
    background-color: rgb(137, 137, 255);
    border: none;
    border-radius: 0.5vh;

}
/* .team_link {

    margin-right: 0vw;

} */
.login_link {

    margin-left: 1.5vw;
    margin-right: 1.5vw;

}
/* .inquire_link {

    margin-right: 0vw;

} */
