
/* login styles */

.login_frame {

    margin: auto;
    width: 35vw;
    background-color: #161616;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(137, 137, 255);
    font-size: 1.6vh;


}

.welcome_text {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(137, 137, 255);
    font-size: 1.9vh;

}

.user_form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
}
  
.user_form label {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.user_form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #161616;
    color: rgb(137, 137, 255);
}
  
.user_form button {
    background-color: rgb(137, 137, 255);
    color: #161616;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


